<%= form_for(@wine) do |f| %>
  <table>
    <tr>
      <td><%= f.label :Wine %></td>
      <td><%= f.text_field :name, autofocus: true %></td>
    </tr>
    <tr>
      <td><%= f.label :Winery %></td>
      <td><%= f.text_field :winery %></td>
    </tr>
    <tr>
      <td><%= f.label :Year %></td>
      <td><%= f.text_field :year %></td>
    </tr>
    <tr>
      <td><%= f.label :Varietal %></td>
      <td><%= f.text_field :varietal %></td>
    </tr>
    <tr>
      <td><%= f.label :Country %></td>
      <td><%= f.text_field :country %></td>
    </tr>
  </table>
  <p>
    <%= f.submit "Save" %>
    <%= link_to "Cancel", wines_path %>
  </p>
<% end %>