<h1>Wines - Under Review</h1>
<h2>Available as of <%= formatted_time(@available_at) %> </h2>
<table>
  <tr>
    <td>Name</td>
    <td>Winery</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <% @wines.each do |wine| %>
  <tr>
    <td><%= wine.name %></td>
    <td><%= wine.winery %> </td>
    <td><%= button_to("Show", wine, method: :get) %></td>
    <td><%= button_to("Edit", edit_wine_path(wine), method: :get) %></td>
    <td><%= button_to "Delete", wine, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</table>
<br/>
<br/>
<%= button_to('Add Wine', new_wine_path, method: :get) %>