<h3>Available as of <%= formatted_time(@available_at) %> </h3>
<%= page_entries_info @wines %>
<br/>
<br/>
<table>
  <tr>
    <td>Name</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>Winery</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <% @wines.each do |wine| %>
  <tr>
    <td><%= wine.name %></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><%= wine.winery %></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><%= format_average_rating(wine) %>
        <% if log_entry.any? %>
    (out of <%= pluralize(wine.log_entries.size, 'log entry') %>)
  <% end %>
    <td><%= button_to("Show", wine, method: :get) %></td>
    <td><%= button_to("Edit", edit_wine_path(wine), method: :get) %></td>
    <td><%= button_to "Delete", wine, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</table>
<%= paginate @wines %>