<article class="wine">
  <% content_for :title, @wine.name %>
  <header>
    <h2><%= @wine.name %></h2>
  </header>
  <p><label>Year:</label> <%= @wine.year %></p>
  <p><label>Winery:</label> <%= @wine.winery %></p>
  <p><label>Country:</label> <%= @wine.country  %></p>
  <p><label>Varietal:</label> <%= @wine.varietal %></p>
  <table>
    <tr>
      <td><%= button_to("Edit", edit_wine_path(@wine), method: :get) %></td>
      <td><%= button_to "Delete", @wine, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  </table>
  <br/>
  <p>
    Read all
    <%= link_to pluralize(@wine.log_entries.size, 'log entry'),
                          wine_log_entries_path(@wine) %>
  </p>
  <p><label>Average Rating:</label> <%= format_average_rating(@wine) %></p>
</article>